asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.4.0
cryptography==42.0.4
Django==5.2.1
django-bootstrap-v5==1.0.11
django-cors-headers==4.7.0
django-mpesa==2.0.14
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
dj-database-url
gunicorn
idna==3.10
mysqlclient==2.2.7
psycopg2-binary>=2.9
pycryptodome>=3.10
PyJWT==2.9.0
python-dotenv==1.1.0
reportlab==4.1.0
requests==2.32.3
sqlparse==0.5.3
soupsieve==2.6
tzdata==2025.2
urllib3==2.2.3
whitenoise==6.9.0
